// colors
$clr-theme: lightblue;
$clr-body: $clr-theme;
$clr-black: rgb(30,30,30);
$clr-dark-gray: #323232;

// indents
$indent-minimum: 4px;
$indent-little: 8px;
$indent-small: 16px;
$indent-medium: 24px;

// typography
$font-size: 17px;
$font-color: white;
$font-size-heading1: 60px;
$font-size-heading2: 20px;
$font-size-heading3: 20px;