DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=blog

DOMAIN=http://127.0.0.1:3000

API_BASE_URL=http://127.0.0.1:8000
REACT_APP_API_BASE_URL=http://127.0.0.1:8000
API_KEY=gT7&kP3!wZ9@rL1$vJ4*qD2xN6@bC8^uH5!sY0&nM7*wQ3^vF1jR9@lT2$

TOKEN=TOKEN_TO_ACCESS_YOUR_TELEGRAM_BOT
BOT_ACCESS=your_telegram_username

STORAGE_DIRECTORY=/blog/public/storage
STORAGE_LINK=storage