@import "../../stylesheet/variables";

$image-size: 15%;

.post-wall {
  margin: 0 15%;
  background-color: $clr-dark-gray;

  @media only screen and (max-width: 600px) {
    margin: 0;
  }

  .post {
    background-color: $clr-black;
    padding: $indent-little $indent-small;
    border-bottom: 2px solid white;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: transparentize($font-color, 0.5);
      }
    }

    .content, .images {
      margin-bottom: $indent-little;

      p {
        margin-bottom: $indent-small;
      }
    }

    h3 {
      margin-bottom: $indent-small;
    }

    .images {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      img {
        width: $image-size;
        transition: 0.1s ease;
        max-width: 200px;

        &:hover {
          //opacity: 0.8;
          cursor: pointer;
        }
      }

      &.image-1 {
        img {
          width: 50%;
          max-width: 600px;
        }
      }

      &.image-2 {
        img {
          width: 40%;
          max-width: 500px;
        }
      }

      &.image-3 {
        img {
          width: 30%;
          max-width: 300px;
        }
      }
    }

    .datetime {
      text-align: right;
      font-size: $font-size - 4;
      color: transparentize($font-color, 0.5);
    }
  }

}