@import "../../stylesheet/variables";

.post {
  background-color: $clr-black;
  padding: $indent-little $indent-small;
  border-bottom: 2px solid white;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: transparentize($font-color, 0.9);
    }
  }

  .content, .images {
    margin-bottom: $indent-little;

    p {
      margin-bottom: $indent-small;
    }
  }

  h3 {
    margin-bottom: $indent-small;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    //a { width: 100%; }

    img {
      width: 100%;
      height: 280px;
      transition: 0.1s ease;
      //max-width: 200px;
      image-rendering: pixelated;

      &:hover {
        //opacity: 0.8;
        cursor: pointer;
      }
    }

    //&.image-1 {
    //  a { width: 50%; }
    //  img {
    //    max-width: 600px;
    //  }
    //}
    //
    //&.image-2 {
    //  a { width: 40%; }
    //  img {
    //    max-width: 500px;
    //  }
    //}
    //
    //&.image-3 {
    //  a { width: 30%; }
    //  img {
    //    max-width: 300px;
    //  }
    //}
  }

  .datetime {
    text-align: right;
    font-size: $font-size - 4;
    color: transparentize($font-color, 0.5);
  }
}

.alerts {
  background-color: purple;
  padding: $indent-little $indent-small;
}